.hero-image {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.4rem;
  z-index: 1;
}

/* Media query 1 - overlays */
@media (max-width: 768px) {
  .overlay {
      font-size: 1rem;
      top: 29%;
  }
}

.section1, .section2, .section3 {
  padding: 0 20px;
}

.section1 {
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-heading {
  text-align: center;
  margin-bottom: 20px;
}

.section-text {
  text-align: justify;
  font-size: 1.5rem;
}

.section-image-left,
.section-image-right {
  width: 50%;
  height: auto;
  max-width: 100%;
}

.section-heading {
  text-align: center;
}

.section2, .section3 {
  display: flex;
  align-items: center;
}

.section-image-left, .section-image-right {
  width: 30%;
  height: auto;
}

.section-content-right {
  padding: 20px 0 20px 20px;
}

.section-content-left {
  padding: 20px 20px 20px 0;
}