/* Hero */
.faqs-title-bar {
  background-color: #A0B98F;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.8rem;
}

/* Content & Item Padding */
.section1-content {
  font-size:1.3rem;
}

.faq-item {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.3rem;
  padding: 14px;
}
