/* Hero Bar */
.landscaping-title-bar {
  background-color: #A0B98F;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.8rem;
}

/* Section 1 Content */
.content {
  margin: 20px;
}

.section1-content {
  color: black;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* CSS GRID */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid-item {
  position: relative;
}

.grid-item img {
  width: 100%;
}

/* Hero Overlay */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  font-size: 1.2rem;
}

/* Imagery Overlays */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
}

/* Mobile Cross platforming */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .overlay {
    font-size: 1.5rem;
  }
}

/* Section 2 Content */
.section2-content {
  background-color: white;
  color: black;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
