.footer {
    background-color: #FDE7C0;
    color: #033C2E;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright {
    font-size: 14px;
    order: 1;
  }

  .social-media {
    display: flex;
    justify-content: center;
    order: 2;
  }

  .contact-info {
    text-align: right;
    order: 3;
  }

  .social-media img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .contact-info p {
    margin: 0;
  }
